asgiref
azure-common
azure-core
azure-nspkg
azure-storage
azure-storage-blob
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django
django-environ
django-jet-reboot
django-phonenumber-field
django-storages     # for Azure storage
feedparser  # for RSS
future  # for Python 2.7
gunicorn    # for gunicorn
idna
isodate
oauthlib
Paperboy   # for sending emails
Pillow
psycopg2
pycparser
PyMySQL
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
sgmllib3k
six
sqlparse
typing_extensions
urllib3
whitenoise
