asgiref
azure-common
azure-core
azure-nspkg
azure-storage
azure-storage-blob
certifi
cffi
charset-normalizer
cryptography
dj-database-url
Django==3.1.1
django-azure-storage    #
django-environ==0.4.6
django-jet-reboot
django-phonenumber-field
django-storages     # for Azure storage
feedparser  # for RSS
future  # for Python 2.7
gunicorn    # for gunicorn
idna
isodate 
msrest  # azure-storage-common
oauthlib
Paperboy   # for sending emails
# phonenumbers==8.12.44
Pillow
psycopg2
pycparser
PyMySQL
# -e git+https://github.com/gbozee/pypaystack.git@24df1c9ca209031e0ec940ff8552d45ca6b55421#egg=pypaystack
python-dateutil
python-dotenv==0.10.1
pytz
requests
requests-oauthlib
sgmllib3k
six
sqlparse
typing_extensions
urllib3
whitenoise
